
:root{
    --main-color: rgb(243, 22, 243);
    --text-size: 16px;
    --second-main : rgb(70, 0, 70);
    --hover:rgb(163, 17, 163);
}


/* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,0,70,1) 35%, rgba(58,36,101,1) 46%, rgba(48,66,127,1) 55%, rgba(43,82,141,1) 60%, rgba(0,212,255,1) 100%); */


body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:  'Inter', sans-serif;
    overflow-x: hidden;
}

.main{
    width: 100%;
}


.nav-wrapper{
    width: 100%;
    height: 8.6vh;
    background-color: white;
    border-bottom: 0.1px solid rgb(240, 235, 235);
    box-shadow: 0 0 39px 0px rgb(209 209 209);
    position: fixed;
    z-index: 999;
}

.nav-container{
    height: 100%;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}


.nav-logo{
    width: 60%;
    margin-left: 22px;
}

.nav-logo img  {
width: 93px;
}


.nav-links{
    width: 40%;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
    font-size: 13px;
    width: 73px;
    padding: 7px;
    text-align: center;
    background: transparent;
    border: 0.1px solid rgb(216, 213, 213);
    color: black;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.sign-up{
    background-color: var(--second-main);
    color: white;
    border: none;
}

li:hover{
    background-color: var(--second-main);
    color: white;
    transition: 0.7s ease-in-out;
}


.sign-up:hover{
    background-color:transparent;
    transition: 0.7s  ease-in-out ;
    color: black;
    border: 0.1px solid rgb(216, 213, 213);
}




/* HERO */


.hero-wrapper{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 60px;
    margin-top: 70px;
}



.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.col-1 img{
    max-width: 70%;
    padding: 50px 0;
    animation:  float 3s linear infinite ;
}

.shadow{
    background-color: rgba(216, 216, 216, 0.541);
    width: 70%;
    height: 34px;
    top: -90px;
    outline: none;
    box-shadow: 0 0 39px 0px rgb(209 209 209);
    border: none;
    animation:  float 3s linear infinite ;
    position: relative;
    z-index: 1;
}


@keyframes float{
0%, 100%{
    transform:  translateY(0rem);
}

50%{
    transform: translateY(-2.5rem);
}
}
.hero-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
     max-width: 530px;
}

.hero-title h2{
    font-size: xx-large;
    color: var(--second-main);
    font-style: italic;
    line-height: 50px;
    text-align: center;
}


.hero-description{
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.hero-button{
    padding: 9px;
    background:linear-gradient(70deg,rgb(214, 49, 214),rgb(131, 2, 131),rgb(70, 0, 70));
    width: 25%;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}


.hero-button:hover{
    transition: 0.5s ease-in-out;
   padding-right: 53px;
    background: linear-gradient(70deg,rgb(70, 0, 70),rgb(78, 2, 78),rgb(214, 49, 214));
}


.circle,.circle-1{
    box-shadow: 0 0 39px 0px rgb(209 209 209);
    border-radius: 100px;
    position: absolute;
    z-index: -999;
    background: linear-gradient(70deg,rgb(70, 0, 70),rgb(78, 2, 78),rgb(214, 49, 214));
}

.circle{
    width: 90px;
    height: 90px;
    top: -10%;
    left: 20%;
  
}
.circle-1{
    width: 30px;
    height: 30px;
    top: 9%;
    left: 27%;
}



/* Email Section */

.email-section{
    position: absolute;
    width: 100%;
    margin-top: 780px;
    height: 450px;
    background-color: red;
    color: white;
}




































@media screen and (max-width:670px){
    .nav-logo{
        width: 30%;
    }

    .nav-links{
        width: 70%;
    }


    .col-1{
        flex-basis: 100%;
    }

    .hero-wrapper{
        margin-top: 100px;
    }

    .hero-title{
        left: 0;
        right:50%;
        padding: 23px;
        padding-left: 23px;
        padding-right: 23px;
        text-align: center;
    }
    .hero-title h2{
        font-size: x-large;
        top: 50%;
        z-index: 9;
    }

    .col-1 img{
    max-width: 100%;
}

.shadow{
    width: 100%;
}

.circle{
    top: -5%;
    z-index: -9;
    left: 3%;
}

.circle-1{
    top: -8%;
    z-index: -9;
    left: 23%;
}
.email-section{
    margin-top: 1123px;
    height: 450px;

}
}

/* #ffffff54 */